@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';


body{
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
